body {
    background-color: SteelBlue;
    color: white;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 80%;
}

.counter {
    font-size: 200%;
    text-align: center;
}

.language {
    padding: 1em;
}