{{#partial "body"}}
    <h1>Greet me</h1>
    <div class="error">
        {{error}}
    </div>
    <div>
        <h3>{{greeting}}</h3>
    </div>
    <div class="counter">
        {{counter}}
    </div>
    <div>
        <a href="/">back</a>
    </div>
{{/partial}}

{{> layout.hbs }}